<configuration>
    <system.web>
		<identity impersonate="true"/>
		<httpHandlers>
			<add verb="*" path="*.ws" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services" validate="false"/>
			<add path="*.rpt" verb="*" type="System.Web.UI.PageHandlerFactory" validate="false" />
		    <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</httpHandlers>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<compilation debug="true">
			<buildProviders>
			    <add extension=".rpt" type="System.Web.Compilation.PageBuildProvider" />
				<add extension=".ws" type="System.Web.Compilation.WebServiceBuildProvider"/>
			</buildProviders>
		</compilation>
    </system.web>
</configuration>